@model IEnumerable<example_4_rj.Models.CensusModel>



<div id="census" style="display: none;">

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Edit and stuff</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.First</td>
                <td>@item.Last</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
                </td>
            </tr>
        }

    </table>
</div>